.git
.idea
docs2
data
docs/.next
docs/.source
docs/node_modules
docs/out
web/.next
web/.data
web/node_modules
web/out
director-desk/dist
director-desk/node_modules
director-desk/*.tsbuildinfo
director-desk/vite.config.js
director-desk/vite.config.d.ts
*.log
.env*
!.env.example
